.title {
  font-size: 32px;
}

.success-mark {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background: var(--Green--75);
  background: url('../../../assets/images/check-circle.svg') var(--Green--75) no-repeat center;
}
