<div *ngIf="!passwordChanged; else successTpl">
  <app-back-link title="SIGN IN" [backTo]="APP_ROUTES.LOGIN" />
  <h2 class="title text-black font-bold leading-10 max-w-[257px] mt-6 mb-4">New Password</h2>
  <p class="text-grey font-medium mb-10">
    The password should be at least 8 characters long. Use upper and lower case letters, numbers and symbols.
  </p>

  <div [formGroup]="formGroup">
    <div class="custom-form-field">
      <p-password
        placeholder="New Password"
        [toggleMask]="true"
        [feedback]="false"
        formControlName="password"
        (keydown.enter)="submit()" />
      <small class="p-error" *ngIf="formGroup.controls['password'].errors?.['required']">Required</small>
    </div>
  </div>

  <button class="btn-raised w-full mt-24" (click)="submit()" [disabled]="submitted">Reset Password</button>
</div>

<ng-template #successTpl>
  <div class="flex flex-col items-center">
    <div class="success-mark"></div>
    <h2 class="title text-black font-bold leading-10 mt-4 mb-4">Password Changed!</h2>
    <div class="text-grey font-medium mb-10">Your password has been changed successfully.</div>

    <button class="btn-raised w-full" [routerLink]="APP_ROUTES.LOGIN">Sign In</button>
  </div>
</ng-template>
