<div>
  <app-back-link />
  <h2 class="title text-black font-bold leading-10 max-w-[352px] mt-6 mb-4">Reset your Password</h2>
  <div class="text-grey font-medium mb-10">
    Enter your email and we’ll send you instructions on how to reset your password.
  </div>

  <div [formGroup]="formGroup">
    <div class="custom-form-field">
      <input type="text" placeholder="Email address" pInputText formControlName="email" (keydown.enter)="submit()" />
      <small class="p-error" *ngIf="formGroup.controls['email'].errors?.['required']">Required</small>
    </div>
  </div>

  <p-button styleClass="w-full mt-24" label="Send instructions" (click)="submit()" [disabled]="submitted" />
</div>
