@import 'variables';

body {
  margin: 0;
  font-family: $general-font-family;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285;
  color: $general-text-color;
  text-align: left;
  background-color: var(--white-background);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  box-shadow: none !important;
  outline: none;
}
