@import 'variables';

body {
  margin: 0;
  font-family: $general-font-family;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285;
  color: $general-text-color;
  text-align: left;
  background-color: var(--white-background);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  box-shadow: none !important;
  outline: none;
}

.blue-cta {
  color: var(--Blue) !important;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;

  &:hover {
    color: var(--Blue) !important;
    cursor: pointer;
    text-decoration: underline !important;
  }

  @media (max-width: 767px) {
    text-decoration: underline !important;
  }
}
