:root {
  --black-text: #081020;
  --grey-icons: #8f979f;
  --grey-stroke: #e8e8e8;
  --grey-shapes: #f8f8f8;
  --white-background: #fcfbfa;
  --white-text: #fff;
  --Green: #349946;
  --Green: #349946;
  --Green--75: #cce5d1;

  --Blue: #698deb;

  --pink-10: #e63a3a;
}

$general-font-family: 'Inter', sans-serif;

$general-text-color: #232323;
