.p-checkbox .p-checkbox-box.p-highlight,
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: var(--Green);
  background: var(--Green);
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: var(--Green);
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: none;
  border-color: var(--Green);
}

.p-checkbox-label {
  margin-bottom: 0;
  margin-left: 12px;
  color: var(--black-text);
  font-weight: 500;
  cursor: pointer;
}
