@import 'check_box';

.p-error,
.p-invalid {
  color: var(--pink-10);
}

.custom-form-field {
  .p-inputtext {
    padding: 0.6875rem 0.9375rem;
    border-radius: 16px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border-color: var(--grey-stroke);
    background: var(--white-text);
  }

  // Validation
  .p-error {
    display: none;
    font-size: 12px;
    font-weight: 500;
  }
  .ng-invalid.ng-touched,
  .ng-invalid.ng-dirty {
    & + .p-error,
    & ~ .p-error {
      display: block !important;
      margin: 4px 0 0 8px;
    }
  }

  .p-inputtext.ng-invalid.ng-touched,
  input.ng-invalid.ng-touched,
  input.ng-invalid.ng-touched + .input-group-append,
  p-calendar.ng-invalid.ng-touched .p-calendar,
  p-dropdown.ng-invalid.ng-touched .p-dropdown,
  p-multiselect.ng-invalid.ng-touched .p-multiselect,
  p-autocomplete.ng-invalid.ng-touched .p-autocomplete-input,
  p-inputnumber.ng-invalid.ng-touched .p-inputnumber-input {
    border-color: var(--pink-10);
  }
}
